/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*div#all{
  display: grid;
}

article {
   float:left;
   width: 30%;
   height: 400px;
   margin-left: 10%;
   margin-right: auto;
   margin-top: 2%;


   border-width: 1px;
   border-style: solid;
   border-radius: 10px;
   border-color: #008040;
   overflow: hidden;
}*/
header{
    display: block;
    font-size: 16px;
    background-color: #DDF;

    padding: 10px 0px 10px 10px;
    border: 1px solid #aaa;
    border-radius: 0 0 10px 10px;

}
body{
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

article {
  padding: 10px 10px 10px 10px;
  margin-top: 20px;

  padding-left: auto;
  background-color: rgb(250,250,250);
}


article#index:hover {
  background-color: #DDD;

}

 div#headline {
   font-family: brown;
   font-size: 20px;
   font-weight: bolder;
 }

 div#subtitle {
   font-family: brown;
   font-size: 14px;
   font-weight: bold;
 }

 div#body {
   font-family: brown;
   font-size: 12px;
 }
