/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div#all{
  display: grid;
}

article {
  /*float:right;*/
  /*display: inline-table;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 400px;
  height: 600px;

  background-color: rgb(200,200,200);
  border-collapse: collapse;
  margin-bottom: 50px;
  border: 1px solid #aaa;
*/
   float:left;
   width: 30%;
   height: 400px;
   margin-left: 10%;
   margin-right: auto;
   margin-top: 2%;


   border-width: 1px;
   border-style: solid;
   border-radius: 10px;
   border-color: #008040;
   overflow: hidden;
}

 div#headline {

   font-size: 22px;
 }

 div#subtitle {
   font-size: 16px;
 }

 div#body {
   font-size: 12px;
 }
